body, div {
    border: 1px solid black;
    margin: 10px
}


div:first-child {
    width: 300px;
}

div:nth-child(2) {
    width: 50%;
}

div:nth-child(3) {
    width: 50vw;
}

div:nth-child(4) {
    min-width: 100px;
    max-width: 300px;
}