body, div {
    border: 1px solid black;
    margin: 10px
}
div{
    width: 300px;
}

p{
    padding: 30px;
}

div:first-child {
    border: 4px solid black;
}

div:nth-child(2) {
    border: 3px dashed #333;
}

div:nth-child(3) {
    border: 2px dotted #666
}

div:nth-child(4) {
   border-top:3px dashed #333 ;
   border-bottom:3px dashed #333 ;
   border-left:4px solid #000;
   border-right:4px solid #000;
}